{% extends 'base.html' %}




{% block title %}
    lista empleados por departamento

{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}




<div class="grid-container">



    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Empleados por area</h1>
            
            
            <div class="cell">
                
                <table>
                    <thead>
                        <tr>
                            <th width="200">ID</th>
                            <th>NOMBRES</th>
                            <th width="150">APELLIDOS</th>
                            <th width="150">DEPARTAMENTO</th>
                            <th width="150">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in object_list %}
                        <tr>
                            <td>{{ e.id }}</td>
                            <td>{{ e.first_name }}</td>
                            <td>{{ e.last_name }}</td>
                            <td>{{ e.departamento }}</td>
                            <td><a class="warning button" href="{% url 'persona_app:empleado_detail' e.id %}">Ver</a></td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>


            


                
        
               

                
            </div>


        </div>


    </div>
    
   



</div>








{% endblock content %}