
{% extends 'base.html' %}


{% block title %}
Nuevo departamento
{% endblock title %}
    



{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Nuevo departamento</h1>

        <form class="cell callout grid-x grid-margin-x" method="POST">{% csrf_token %}
            <div class=" cell large-6">
                <label>Nombres
                    {{ form.nombre }}
                </label>
            </div>
            <div class=" cell large-6">
                <label>Apellidos
                    {{ form.apellidos }}
                </label>
            </div>
            <div class=" cell large-6">
                <label>Departamento
                    {{ form.departamento }}
                </label>
            </div>
            <div class=" cell large-6">
                <label>Trabajo
                    {{ form.shorname }}
                </label>
            </div>
            <div class="cell">
                <button type="submit" class="success button">Guardar</button>
            </div>
            

            
            
        </form>


    </div>
</div>


{% endblock content %}